@import "tailwindcss";

:root {
  --background: #fff9e0;
  --foreground: #082baf;
  --accent: #a5aed2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-koulen: var(--font-koulen), sans-serif;
  --font-funnel: var(--font-funnel-sans), sans-serif;
}

body {
  background: var(--background);
  font-family:  aArial, Helvetica, sans-serif;
}

